*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Build artifacts
*.aar
*.jar
/app/src/main/jniLibs/
/app/libs/goncvpn.aar
/app/libs/goncvpn-sources.jar
*.apk
/app/build/
/app/release/
/app/debug/
